!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='http://fonts.googleapis.com/css?family=Raleway:100', rel='stylesheet', type='text/css')
  body#portfolio
    #menu
      h1 PLD Construction + Development
      ul
        li 
          a(href="/") Home
        li 
          a(href="/about") About
        li 
          a(href="/gallery") Gallery
        li 
          a(href="/services") Services
        li 
          a(href="/portfolio") Portfolio
        li 
          a(href="/contact") Contact
    #sidebar
      ul
        - each s in sections
          if (s == section)
            li
              a(href="/edit/gallery?section="+s, class="active") #{s}
          else
            li
              a(href="/edit/gallery?section="+s) #{s}
      fieldset#admin
        lengend Admin - Edit Gallery
        h3 Upload image to #{section}
        form(action="http://api2.transloadit.com/assemblies", id="galleryForm", enctype="multipart/form-data", method="POST")
            input(type="hidden", name="params", value=JSON.stringify(tranny))
            input(type="hidden", id="section", name="section", value=section)
            input(type="file", name="my_file", id="file")
            input(type="submit", class="m200", value="Upload Image")
            div#progress
        h3 Add Section
        form(action="/add/section", method="POST")
          input(type="text", name="section", value="")
          input(type="submit", value="Add New Section")
        h3 Delete a section
        p.note * this will delete all images in that section
        form(action="/del/section", method="POST")
          select(name="section")
            - each s in sections
              option(value=s) #{s}
          input(type="submit",value="delete section!", onclick='confirm("Are you certain of this?")')
      br
      a(href="../admin") Edit Company Info
      br
      a(href="/edit/portfolio") Edit Portfolio
    #content
      - if (!gallery)
        p No Galleries Yet, Add A section
      - if (gallery)
        - each g, i in gallery
          -  var usa = g.thumb || g.medium 
          div.thumb
            img(src="../"+usa)
            form(action="../index/image", method="POST")
              input(type="hidden", name="gallery", value=section)
              input(type="hidden", name="position", value=i)
              input(type="text", name="index", value=i, style="width:30px")
              input(type="submit", value="change index");
            form(action="/del/image", method="POST")
              input(type="hidden", name="section", value=section)
              input(type="hidden", name="index", value=i)
              input(type="submit", value="delete", onclick='confirm("Delete Image?")')
  script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js')
  script(type="text/javascript", src="http://assets.transloadit.com/js/jquery.transloadit2.js")
  script(type="text/javascript", src="/js/pld.js")